/** 
 * Tried my best to organize reusable components in a utility file.
 * How common classes are organized may vary by project.
 */

@layer utilities {
  .title-font {
    color: var(--White, #ffffff);

    font-family: Overpass;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
  }

  .content-font {
    color: var(--Light-Gray, #959eac);

    font-family: Overpass;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
  }

  .content-line-height {
    line-height: 160%;
  }

  .round-icon {
    width: 40px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 9999px;
  }

  .bg-dark-blue {
    background-color: var(--Dark-Blue, #252d37);
    color: var(--Medium-Gray, #7c8798);
  }
  .bg-dark-blue-hover:hover,
  .bg-dark-blue-active:active,
  .bg-dark-blue-checked:checked,
  .bg-dark-blue-has-checked:has(:checked) {
    background-color: var(--Dark-Blue, #252d37);
    color: var(--Medium-Gray, #7c8798);
    transition: background-color 0.1s, color 0.1s;
  }

  .bg-medium-gray {
    background-color: var(--Medium-Gray, #7c8798);
    color: var(--White, #ffffff);
  }
  .bg-medium-gray-hover:hover,
  .bg-medium-gray-active:active,
  .bg-medium-gray-checked:checked,
  .bg-medium-gray-has-checked:has(:checked) {
    background-color: var(--Medium-Gray, #7c8798);
    color: var(--White, #ffffff);
    transition: background-color 0.1s, color 0.1s;
  }

  .bg-orange {
    background-color: var(--orange, #fb7413);
    color: var(--white, #ffffff);
  }
  .bg-orange-hover:hover,
  .bg-orange-active:active,
  .bg-orange-checked:checked,
  .bg-orange-has-checked:has(:checked) {
    background-color: var(--orange, #fb7413);
    color: var(--white, #ffffff);
    transition: background-color 0.1s, color 0.1s;
  }

  .bg-white-fg-orange {
    background-color: var(--white, #ffffff);
    color: var(--orange, #fb7413);
  }
  .bg-white-fg-orange-hover:hover,
  .bg-white-fg-orange-active:active,
  .bg-white-fg-orange-checked:checked,
  .bg-white-fg-orange-has-checked:has(:checked) {
    background-color: var(--white, #ffffff);
    color: var(--orange, #fb7413);
    transition: background-color 0.1s, color 0.1s;
  }
}
