main {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0 24px;

  background: var(--Very-Dark-Blue, #121417);
  color: var(--White, #ffffff);
}

.attribution {
  width: fit-content;
  height: fit-content;

  position: absolute;
  top: 100vh;
  left: 50%;
  transform: translateX(-50%) translateY(-150%);

  background: var(--Dark-Blue, #1e252e);

  padding: 8px;
  border-radius: 9999px;

  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
